@charset "UTF-8";
@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),
url(../fonts/fontawesome-webfont.woff?v=4.2.0) format('woff'),
url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'),
url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format('svg');
font-weight:400;
font-style:normal
}


    body,
    html {
        height: 100%
    }
    *,
    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    body,
    html {
        font-size: 16px
    }
    body {
        background: #fff;
        color: #696967;
        padding: 0;
        margin: 0;
        font-family: fira-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5;
        position: relative;
        cursor: auto
    }
    a:hover {
        cursor: pointer
    }
    img {
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic
    }
    #map_canvas embed,
    #map_canvas img,
    #map_canvas object,
    .map_canvas embed,
    .map_canvas img,
    .map_canvas object {
        max-width: none!important
    }
    .left {
        float: left!important
    }
    .right {
        float: right!important
    }
    .clearfix:after,
    .clearfix:before {
        content: " ";
        display: table
    }
    .clearfix:after {
        clear: both
    }
    .hide {
        display: none
    }
    .antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    img {
        display: inline-block;
        vertical-align: middle
    }
    textarea {
        height: auto;
        min-height: 50px
    }
    select {
        width: 100%
    }

.column,
.columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    float: left;
}

.large-2 {
        width: 16.6666666667%;
}

.small-6 {
        width: 50%;
}

.small-12 {
        width: 100%

.medium-6 {
        width: 50%;
}

.large-6 {
        width: 50%;
}

.large-10 {
        width: 83.3333333333%;
    }

.large-offset-1 {
        margin-left: 8.3333333333%!important;
        }

.site-footer {
        background: #444444 url(../images/bgcover1.png);
        color: #f7f7f7;
    }

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 71.25rem;
}

.footer-heading {
        font-size: 2rem;
        color: #f7f7f7;
        font-family: adelle-sans, sans-serif;
        font-weight: 300;
        margin-bottom: 4.6875rem;
 }

.logomb {
        opacity: .2;
        width: 3.75rem;
        margin-right: .9375rem;
}

footer .footermail {
        color: #f7f7f7;
        font-weight: 400;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
}

footer .footermail:hover {
        color: #c32b40;
        font-weight: 400;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
}

.credits {
        font-family: fira-sans, sans-serif;
        font-size: .75rem;
        color: #696967;
        font-weight: 400;
        margin-top: 4.6875rem;
}

.credits a {
        color: #f7f7f7;
}

.credits a:hover {
        color: #c32b40;
}

.bloglink:focus::after,
.bloglink:focus::before,
.bloglink:hover::after,
.bloglink:hover::before {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
}

#contact {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem;
        background: #f7f7f7;
    }

#contact h2 {
        margin-bottom: 2.34375rem;
    }

.mailto {
        font-size: 1.8125rem;
        font-family: adelle-sans, sans-serif;
        font-weight: 300;
        margin-bottom: 0;
}
    .mailto i {
        margin-right: 1.25rem;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .mailto a:hover i {
        -webkit-transform: translate(50px, -100px);
        transform: translate(50px, -100px);
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    .mailto a {
        color: #393F45;
        transition: all .2s ease-in-out;
    }
    .mailto a:hover {
        color: #c32b40;
        transition: all .2s ease-in-out;
    }
    .site-footer {
        background: #444444 url(../images/bgcover1.png);
        color: #f7f7f7;

    }
    .logomb {
        opacity: .2;
        width: 3.75rem;
        margin-right: .9375rem;
    }
    .footer-heading {
        font-size: 2rem;
        color: #f7f7f7;
        font-family: adelle-sans, sans-serif;
        font-weight: 300;
        margin-bottom: 4.6875rem
    }
    .footer-socials .fa {
        font-size: 1.25rem;
        margin-right: .625rem
    }
    .footer-socials a {
        color: #f7f7f7;
        opacity: .3;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out
    }
    .footer-socials a:hover {
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        opacity: 1
    }
    .footer-socials a span,
    .socialsabout a span {
        display: none
    }
    footer {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem
    }
    footer p {
        line-height: 1.6;
        font-family: fira-sans, sans-serif;
        font-weight: 700;
        font-size: .875rem
    }
    footer span {
        color: #696967
    }
    footer .footermail {
        color: #f7f7f7;
        font-weight: 400;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out
    }
    footer .footermail:hover {
        color: #c32b40;
        font-weight: 400;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out
    }
    .credits {
        font-family: fira-sans, sans-serif;
        font-size: .75rem;
        color: #696967;
        font-weight: 400;
        margin-top: 4.6875rem
    }
    .credits a {
        color: #f7f7f7
    }
    .credits a:hover {
        color: #c32b40
    }
